body {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    border: 1px solid rgb( 26, 188, 156 );
    margin: 20px;
}

div > p {
    background-color: rgb( 26, 188, 156 );
    margin: 0px;
}

div > div > p {
    background-color: rgb( 26, 156, 188 );
    margin: 0px;
}

id {
    display: inline-block;
    background-color: rgb( 230, 126, 34 );
    color: #eee;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

pre {
    padding: 5px;
}

